{% extends 'layout/index.html' %}
{% block sidebar %}
<div class="mod-side-bar">
    <div class="navigation">
        <div class="exit-mod">
            <i class="bi bi-arrow-left"></i>
            <p>Exit mod tools</p>
        </div>
        <div class="select-community">
            <p>{{community.name}}</p>
        </div>
        <div class="search-tools">
            <p>Search Tools</p>
        </div>
    </div>

    <div class="overview">
        <div class="queues">
            <i class="bi bi-bookmarks"></i>
            <p>Queues</p>
        </div>
        <div class="mod-mail">
            <i class="bi bi-envelope"></i>
            <p>Mod Mail</p>
        </div>
        <div class="scheduled-posts-events">
            <i class="bi bi-calendar"></i>
            <p>Scheduled posts and events</p>
        </div>
        <div class="restricted-users">
            <i class="bi bi-hammer"></i>
            <p>Restricted Users</p>
        </div>
        <div class="mods-members">
            <i class="bi bi-person"></i>
            <p>Mods & Members</p>
        </div>
        <div class="insights">
            <i class="bi bi-bar-chart"></i>
            <p>Insights</p>
        </div>
    </div>

    <div class="moderation">
        <div class="rules">
            <i class="bi bi-journal"></i>
            <p>Rules</p>
        </div>
        <div class="saved-responses">
            <i class="bi bi-life-preserver"></i>
            <p>Saved Responses</p>
        </div>
        <div class="mod-log">
            <i class="bi bi-book"></i>
            <p>Mod Log</p>
        </div>
        <div class="automod">
            <i class="bi bi-book"></i>
            <p>Automod</p>
        </div>
        <div class="safety-filters">
            <i class="bi bi-funnel"></i>
            <p>Safety Filters</p>
        </div>
        <div class="automations">
            <i class="bi bi-box"></i>
            <p>Automation</p>
        </div>
    </div>

    <div class="content">
        <div class="wiki">
            <i class="bi bi-bookmarks"></i>
            <p>Wiki</p>
        </div>
    </div>

    <div class="community-apps">
        <div class="installed-apps">
            <i class="bi bi-bookmarks"></i>
            <p>Installed Apps</p>
        </div>
        <div class="browse-apps">
            <i class="bi bi-search"></i>
            <p>Browse Apps</p>
        </div>
    </div>

    <div class="settings">
        <div class="general-settings">
            <i class="bi bi-gear"></i>
            <p>General Settings</p>
        </div>
        <div class="posts-comments">
            <i class="bi bi-file-post"></i>
            <p>Posts & Comments</p>
        </div>
        <div class="look-feel">
            <i class="bi bi-brush"></i>
            <p>Look and Feel</p>
        </div>
        <div class="community-guide">
            <i class="bi bi-bookmarks"></i>
            <p>Community Guide</p>
        </div>
        <div class="notifications">
            <i class="bi bi-bell"></i>
            <p>Notifications</p>
        </div>
        <div class="achievements">
            <i class="bi bi-trophy"></i>
            <p>Achievements</p>
        </div>
    </div>

    <div class="support">
        <div class="community">
            <i class="bi bi-reddit"></i>
            <p>Dread For Community</p>
        </div>
        <div class="help-center">
            <i class="bi bi-reddit"></i>
            <p>Mod Help Center</p>
        </div>
        <div class="code-of-conduct">
            <i class="bi bi-reddit"></i>
            <p>Mod Code of Conduct</p>
        </div>
        <div class="mod-support">
            <i class="bi bi-reddit"></i>
            <p>ModSupport</p>
        </div>
        <div class="mod-help">
            <i class="bi bi-reddit"></i>
            <p>ModHelp</p>
        </div>
        <div class="contact-dread">
            <i class="bi bi-reddit"></i>
            <p>Contact Dread</p>
        </div>
    </div>
</div>
{% endblock sidebar %}

{% block content %}
{%endblock content %}