{% extends 'layout/index.html' %}
{% block content1 %}
<div class="modal-container">
    
</div>
<div class="community-setup">
    <div class="community-details">
        <div class="banner">
            <img src="{{subdread.banner.url }}" alt="{{subdread.name}}">
        </div>
        <div class="icon">
            <img src="{{subdread.icon.url }}" alt="{{subdread.name}}">
        </div>
        <div class="details">
            <strong>d/{{subdread.name}}</strong>
            <div class="actions">
                <p>Create Post</p>
                <p>Mod Tools</p>
            </div>
        </div>
    </div>

    <div class="community-start-actions">
        <div class="posts-banners">
            <div class="intro">
                <strong>Finish your community's foundation.</strong>
                <p>Styling and content are essential for new communities to grow.</p>
            </div>
            <div class="setup-actions">
                <div class="post-create-action">
                    <div class="post">
                        <div class="label-text">
                            <i class="bi bi-pencil-fill"></i>
                            <div class="label-text1">
                                <strong>Create three post</strong>
                                <p>Content drives people to communities.</p>
                            </div>
                        </div>
                        <div class="create-post">
                            <strong>0/3</strong>
                            <p>Create</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="community-settings">
            <div class="community-meta-data">
                <strong>{{subdread.name}}</strong>
                <p>{{subdread.description}}</p>
                <p>{{subdread.created_on}}</p>
                <p>{{subdread.get_type_display}}</p>
                <div class="community-guide">
                    <i class="bi bi-plus-lg"></i>
                    <p>Add a community guide</p>
                </div>
                <div class="member-count">
                    <strong>{{ request.user.subdreads.count }}</strong>
                    <p>Members</p>
                </div>
            </div>

            <div class="moderators">
                <strong>MODERATORS</strong>
                <div class="message-mods">
                    <i class="bi bi-envelope"></i>
                    <p>Message Mods</p>
                </div>
                <div class="username">
                    <p>u/{{ request.user.username }}</p>
                </div>
                <div class="all-moderators">
                    <p>View all moderators</p>
                </div>
            </div>

            <div class="community-configure">
                <strong>COMMUNITY SETTINGS</strong>
                <div class="edit-widgets">
                    <div class="display-text">
                        <p>Community appearance</p>
                        <i class="bi bi-pencil"></i>
                    </div>
                    <button id='edit-widget-button' class="widget-button">Edit Widgets</button>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content1 %}