{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Community</title>
        <link rel="stylesheet" href="{% static 'css/create_community.css' %}">
    </head>
    <body>
        <div class="create-community-form">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label_tag}}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit">create</button>
            </form>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>