<!DOCTYPE html>
<html>
<head>
    <title>chat</title>
</head>
<body>
    <div id="chat-log">
        {% for message in messages %}
            <div class="message">
                <div class="author">{{message.sender.username}}</div>
                <div class="content">{{message.message}}</div>
            </div>
        {% endfor %}
    </div>
    <input id="chat-message-input" type="text" size="100">
    <button id="chat-message-submit">Send</button>

    <script>
        const username = "{{ username }}";
        console.log(username)
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + username + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message_element = `<div class="message"><div class="author">${data.sender}</div><div class="content">${data.message}</div></div>`;
            const chat_log = document.querySelector('#chat-log')
            chat_log.insertAdjacentHTML('beforeend', message_element);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
