{% extends 'layout/index.html' %}

{% block content1 %}
<div class="post-list">
    {% for post in data.recent_posts %}
    <div class="post" data-url="{% url 'post_view_url' post.subdread.name post.id %}" onclick="navigateToPost(this)">
        <div class="info">
            <div class="subdread">
                <a href="{% url 'community_homepage_url' post.subdread.name %}">d/{{post.subdread.name}}</a>
            </div>
            <div class="author">
                <a href="{% url 'other_user_profile_url' username=post.author.username %}">u/{{post.author.username}}</a>
            </div>
        </div>
        <div class="title">
            <b>{{post.title}}</b>
        </div>
        <div class="flair">
            {{post.flair.name}}
        </div>
        <div class="content">
            {{post.content|safe}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block content2 %}
<div class="recent-posts">
    <h3>Recently Viewed Posts</h3>
    <div class="recent-posts-list">
        <!-- JS will insert posts here -->
    </div>
</div>

<script>
        const recentPostsContainer = document.querySelector('.recent-posts-list');
        const recentPosts = localStorage.getItem('recentPosts') ? JSON.parse(localStorage.getItem('recentPosts')) : [];
        console.log(recentPosts);


        if (recentPosts.length === 0) {
            recentPostsContainer.innerHTML = '<p>No recent posts.</p>';
        }else{
            recentPosts.forEach(post => {
            const postElement = document.createElement('div');
            postElement.classList.add('recent-post');

            // You can adjust the structure here as needed
            postElement.innerHTML = `
                <b class='title'>${post.postTitle}</b>
                <p class='content'>${post.postBody.slice(0, 75)}...</p>
                <a href="/posts/${post.postId}">Read more</a>
            `;
            recentPostsContainer.appendChild(postElement);
            })
        }
</script>
{% endblock content2 %}