{% extends 'layout/index.html' %}

{% block content1 %}
<div class="post-list">
    {% for post in data.recent_posts %}
    <div class="post" data-url="{% url 'post_view_url' post.subdread.name post.id %}" onclick="navigateToPost(this)">
        <div class="info">
            <div class="subdread">
                <a href="{% url 'community_homepage_url' post.subdread.name %}">d/{{post.subdread.name}}</a>
            </div>
            <div class="author">
                <a href="{% url 'other_user_profile_url' username=post.author.username %}">u/{{post.author.username}}</a>
            </div>
        </div>
        <div class="title">
            <b>{{post.title}}</b>
        </div>
        <div class="flair">
            {{post.flair.name}}
        </div>
        <div class="content">
            {{post.content|safe}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block content2 %}
<div class="recent-posts">
    <p>It will display recent-posts</p>
</div>
{% endblock %}