{% load socialaccount %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <div>
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
        <small>{{ form.username.help_text }}</small>
    </div>

    <div>
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
        <small>{{ form.password.help_text }}</small>
    </div>

    <button type="submit">Login</button>
</form>

<hr>

<p>Or continue with:</p>
<a href="{% provider_login_url 'google' method='oauth2' %}">
    <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Login with Google">
</a>
